# Midterm Spring 2021

**Instructions**

The exam should be opened on Moodle at **9 am ET on Monday March 15 and closed at 9am ET on Tuesday March 16. The time limit is 2 hours for the exam.** Your solution must be turned in as an **.ipynb file** on Moodle before it is closed. Late exams will only be accepted at the instructors discretion. If you miss the submission window you will need to email me the exam and explain what is the reason right after the exam.
Answer each question using only one cell. You may create a copy of this notebook and open additional cells for testing, but when you turn in the exam, please only have one cell per question. Partial credit will be given. It is easier to give partial credit if you comment your code to say what each line is doing, or trying to do. If you can't solve a problem fully, try solving part of it for partial credit.

Do not import additional libraries. Use only the libraries already included below.

The solutions should be displayed in the notebook. Each question requires only one thing to be displayed. You don't need to display any intermediate steps you may have taken.

Each question is worth the same number of points.

***It is an open book/notes/internet exam, but  you have to do it by yourself, no cooperation is allowed.  Don't post or talk about the questions or your solution of the exam during the exam open window. Please DO NOT post questions of clarification to Piazza. Since not all students are taking the exam at the same time, this might create an unfair advantage.***

## 1. Setup
Run the two cells below to load the packages and data necessary for this exam.

The dataset CPS85 contains data on 534 individuals surveyed in the year 1985.

    wage = The hourly wage
    educ = years of education
    white/hispanic = white or not/hispanic or not
    sex = sex (male or female)
    sout = whether or not the person was from the south
    exper = years of experience
    union = whehter or not the person was in a union
    age = age in years
    sector = what sector the person works in

In [ ]:
from datascience import *
import numpy as np
import matplotlib
%matplotlib inline

In [ ]:
CPS85 = Table.read_table("CPS85.csv")
CPS85

**Question 1:**

Compute the absolute difference of average years of education between men and women, round the result to 2 decimal places. Assign this value to ```q1```.

In [ ]:
q1 = ...
q1

**Question 2:**

Create a table with the 6 youngest workers who have more that 5 years of experience. Assign this table to ```q2```.

In [ ]:
q2 = ...
q2

**Question 3:** 

Create a table that contains the average age of workers in each 'sector'. Column names for this table should be sector and "average_age". Assign this table to ```q3```.

In [ ]:
q3 = ...
q3

**Question 4:**

Create a table that contains the average age of workers broken down by union and sector. A row of the table should be the average age for each sector of a particular union status. So, different union statuses should be rows, and different sectors should be columns. Assign this table to ```q4```.

In [ ]:
q4 = ...
q4

**Question 5:** 
Create a new table called ```CPS85_new```, similar to the original CPS85, except where the the values for the ```union``` variable are ```not_in_union```, and ```in_union```.

In [ ]:
CPS85_new = ...
CPS85_new

**Question 6:** 

Write a function that will create a bar plot of the mean of a numerical variable for each sector arranged in order of sectors with the highest to lowest mean.  Use the function to create a bar plot of the average years of education for each sector.

**Question 7:**

 Create a histogram of experiences by 5 year increments from 0 to the maximum years of experiences(include the maximum years of experience).

**Question 8:** Define a function call ```remove_dollar_sign(str)``` to remove a dollar sign in a string.
Calculate the average wage of all observations in the data by applying your defined function to wage. Round the result to 2 decimal places. Assign this value to ```q8```. Note: the type of values of wage is string. You need to type casting the values of wage to float before you can compute them.

In [ ]:
def remove_dollar_sign(str):
    ...
q8 = ...
q8